* {
  font-family: "Arimo", sans-serif;
}

.sec_form {
  background-image: url("../pagos.jpg");
  background-size: cover;
  height: 100vh;
}

.form {
  background-color: hsla(0, 0%, 100%, 0.85);
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0px 10px 73px -23px rgba(0, 0, 0, 1);
}

.form > h3 {
  color: #008458;
  margin-bottom: 1.5rem;
}

.filtro {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.inquietud {
  background-color: rgba(0, 0, 0, 0.05);
}

footer {
  background-color: #008458;
}

.content {
  padding: 10px;
  border-radius: 5px;
  transition: all 150ms ease-out;
}

.content:hover {
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.32);
  transform: scale(1.08);
}

.img {
  transition: all 150ms ease-out;
}

.img:hover {
  transform: scale(1.08);
}

.image {
  width: 100%;
  max-width: 100%;
}
#subir {
  position: fixed;
  top: 554px;
  right: 10px;
  border-radius: 4rem;
  background-color: #00b730;
  width: 50px;
  height: 50px;
}
.title-services {
  font-size: 18px !important;
  font-weight: bold;
  color: #008458;
}

@media only screen and (max-width: 417px) and (min-width: 360px) {
  .sec_form {
    height: 1500px;
    background-image: url("../pagos_430w.jpg");
    background-repeat: no-repeat;
  }
  .filtro {
    height: 1500px;
  }
  .banco_fila {
    margin-top: 0px !important;
  }
  .image {
    width: 100%;
    height: 10px;
  }
  #subir {
    top: 913px;
  }
  .uk-position-center {
    left: 45% !important;
  }
  .title-services {
    font-size: 15px !important;
    font-weight: bold;
    color: #008458;
  }
}

@media only screen and (max-width: 321px) {
  .sec_form {
    height: 270vh;
    background-image: url("../pagos_320w.jpg");
    background-repeat: no-repeat;
  }
  .filtro {
    height: 270%;
  }
  .banco_fila {
    margin-top: 0px;
  }
  .image {
    width: 100%;
    height: 10px;
  }
  #subir {
    top: 513px;
  }
  .uk-position-center {
    left: 46% !important;
  }
  .title-services {
    font-size: 15px !important;
    font-weight: bold;
    color: #008458;
  }
}
